.tab {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.tabs {
  padding: 2.25rem 0rem 0rem 8.875rem;
  text-align: center;
  font-size: var(--desktop-heading-6-h6-400-size);
  color: var(--celestial-grey-cg-700);
  font-family: var(--desktop-heading-5-h5-500);
}

.search,
.tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.all-submissions-wrapper,
.favourite-submissions-wrapper {
  padding: 0 var(--padding-5xl);
  box-sizing: border-box;
}

.search {
  border-radius: var(--br-81xl);
  border: 1px solid var(--celestial-grey-cg-500);
  box-sizing: border-box;
  width: 18.75rem;
  height: 2.5rem;
  flex-shrink: 0;
  padding: var(--padding-base);
  gap: var(--gap-5xs);
}

.dropdown {
  flex: 1;
  /* position: relative; */
}

.filter,
.utilities {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.filter {
  border-radius: var(--br-81xl);
  border: 1px solid var(--celestial-grey-cg-500);
  box-sizing: border-box;
  width: 8.875rem;
  height: 2.5rem;
  flex-shrink: 0;
  padding: var(--padding-base);
  align-items: center;
  gap: var(--gap-5xs);
}

.dropdown{
  list-style-type: none  !important;
}

.utilities {
  padding: 2.25rem 0rem 0rem 8.875rem;
  /* align-items: flex-start; */
  gap: var(--gap-5xl);
  font-size: var(--desktop-heading-6-h6-400-size);
  color: var(--celestial-grey-cg-500);
  font-family: var(--desktop-heading-5-h5-500);
}

.all-submissions {
  font-weight: 500;
  text-decoration: none;
  color: #333333;
}

.favourite-submissions-wrapper {
  color: var(--celestial-grey-cg-500);
}
