.page {
  background-color: #f5f5f5;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

input {
  width: 100%;
}

input[type="text"]::placeholder {
  color: #999;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
}

h1 {
  width: 408px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 29px;
  color: #333333;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 48px;
  gap: 40px;
  position: absolute;
  width: 913px;
  height: 1564px;
  left: 142px;
  top: 114px;
  background: #ffffff;
  border-radius: 24px;
}

.label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 30px;
  color: #222222;
  display: flex;
  justify-content: space-between;
}

.shortip {
  border-radius: 6px;
  border: 1px solid #cccccc;
  width: 50rem;
  height: 2rem;
  padding-left: 1rem;
}

.minimum-resolution-360px {
  position: relative;
  font-size: var(--desktop-body-1-b1-400-size);
  font-family: var(--desktop-body-1-b1-400);
  color: var(--celestial-grey-cg-400);
}

.bg {
  background-color: #e9e6e6;
  background-image: url("../../assets/add-photo-alternate.png");
  background-repeat: no-repeat;
  background-position: center;
}

.upload-icon {
  border-radius: var(--br-base);
  background-color: var(--celestial-grey-cg-50);
  border: 2px dashed var(--celestial-grey-cg-200);
  box-sizing: border-box;
  width: 44.25rem;
  height: 5.25rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  align-items: center;
  justify-content: center;
}

.write-a-long {
  position: relative;
}

.write-a-long-description-of-yo-wrapper {
  font-family: poppins;
  margin: 0;
  border-radius: var(--br-5xs);
  border: 1px solid var(--celestial-grey-cg-200);
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-base);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--desktop-body-1-b1-400-size);
}

.characters {
  align-self: self-end;
  padding-right: 6rem;
  position: relative;
  font-size: var(--desktop-body-2-b2-400-size);
  text-align: right;
}

.item {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  text-align: left;
  font-size: var(--desktop-heading-6-h6-400-size);
  color: var(--celestial-grey-cg-900);
  font-family: var(--desktop-heading-6-h6-400);
}

input {
  resize: none;
}

.date {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

.input-date {
  width: 50%;
}

.field {
  align-self: stretch;
}

.section-01 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  position: relative;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.error {
  color: red;
  font-weight: 400;
  margin: 0;
}
